.accordion-container{

    max-width: 1100px;
    margin: 0 auto;
    margin-top: 8rem;


    .ac{
        background: linear-gradient(135deg, orangered, rgb(192, 50, 205));
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12);
        

        &-header{
            border: none;
            outline: none;
           
        }

        &-trigger{
            outline: none;
            color: #fff;
            padding: 2rem .5rem;
            font-family: 'Rubik', sans-serif;
            font-weight: 100;
            background-image: linear-gradient(135deg, transparent 0%, transparent 50%, orange);
            background-size: 220%;
            transition: .4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover{
                background-position: 100%;
            }

            &:active,
            &:link,
            &:focus{
                color: #fff;
            }
        }

        &-pannel{
            font-family: 'Rubik';
            
            
           
        }

        &-text{
            background: #fff;
            padding: 2rem 0;
           
            
        }
    }
}